* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #FFF;
    /* 当html不设置背景时，body的背景将作为整个浏览器的背景色，而不是body标签自己的背景色。
    当设置html背景色后，body的背景色就变成了body宽高约束下自己的背景色。 */
}

body {
	margin: 0 auto;
    margin-top: 20px;
    text-indent: 1em;
    width: 900px;
    height: 800px;
}

header {
    width: 200px;
    height: 800px;
    float: left;
    background-color: #69F;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: #FFF;
}

main {
    width: 700px;
    height: 800px;
    float: right;
}

.head {
    width: 1000px;
    height: 60px;
    line-height: 60px;
}

.one {
    width: 1000px;
    height: 60px;
    line-height: 60px;
}

.two {
    width: 1000px;
    height: 120px;
    line-height: 30px;
}

.one,
.two {
    font-size: 16px;
}

.type {
    font-weight: bold;
}

.style {
    display: block;
}